.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0%;
    margin: 0%;

    p {
        font-size: 18px;
    }
}

body {
    margin: 0% auto;
    border: 1px solid black;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
}

/* sherd styles */

.primary-color {
    color: #FF42A5;
}



/* navbar css styles */

.navbar {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-tittle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-tittle h1 {
    font-size: 35px;
}

.navbar-link {
    display: flex;
    gap: 40px;
    align-items: center;
}

.follow-us {
    display: flex;
    gap: 7px;
    align-items: center;
    background-color: rgb(189, 186, 186);
    padding: 10px;
    border-radius: 5px;
}